.promotions-details {
  &__image {
    height: 300px;
    width: 100%;
    object-fit: cover;
  }
  
  
}

.promotions {
  @media all and (max-width: 950px) {
    margin-top: 116px;
  }
  @media all and (max-width: 500px) {
    margin-top: 80px;
  }
  &__text {
    @media all and (max-width: 500px) {
      padding-bottom: 20px;
    }
  }
}