.order {
  font-family: 'DIN Condensed';
  &__subtitle {
    @include text(14px, 400, 17px, $blackColor);
    margin-bottom: 20px;
  }
  &__blocks {
    border-radius: 20px;
    background: $whiteColor;
    padding: 32px 20px 56px;
    margin-bottom: 90px;
  }
  &__input {
    max-width: 480px;
    width: 100%;
    padding: 18px 20px;
    @include text(14px, 400, 17px, $blackColor);
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
border-radius: 15px;
margin-bottom: 25px;
@media all and (max-width: 1100px) {
  max-width: 740px;
}
  }
  &__input::placeholder {
    @include text(14px, 400, 17px, $blackColor);
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 1100px) {
      flex-direction: column;
    }
  }
  &__wrap-left {
    width: 100%;
    max-width: 480px;
    @media all and (max-width: 1100px) {
      max-width: 740px;
    }
    
  }
  &__details__block {
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
border-radius: 15px;
  }
  &__summary {
    display: flex;
    justify-content: space-between;
    max-width: 480px;
    width: 100%;
    cursor: pointer;
    margin-bottom: 10px;
    @include text(18px, 400, 21px, $blackColor);
    @media all and (max-width: 1100px) {
      max-width: 740px;
    }
  }
  &__text {
    margin-bottom: 5px;
    cursor: pointer;
    margin-left: 20px;
  }
  &__wrap-right {
    max-width: 740px;
    width: 100%;
  }
  &__table {
    width: 100%;
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
border-radius: 10px;
margin-left: 6px;
@media all and (max-width: 1100px) {
  margin-left: 0px;
  margin-top: 14px;
}
  }
  &__column {
    border-bottom: 1px solid #D9D9D9;
    padding: 12px;
    @include text(14px, 400, 14px, $blackColor);
    text-align: center;
  }
  &__column:first-child {
    @include text(12px, 400, 14px, $blackColor);
    text-align: left;
  }
  &__column-top {
    color: #696969;
    font-size: 14px;
  }
  &__wrapper-second {
    margin-top: 20px;
    margin-bottom: 46px;
    @media all and (max-width: 1100px) {
      flex-direction: column;
    }
  }
  &__table-second {
    // max-width: 480px;
    width: 100%;
    @include text(14px, 400, 17px, $blackColor);
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
border-radius: 10px;
// @media all and (max-width: 1100px) {
//   max-width: 740px;
// }

  }
  &__btn {
    background: linear-gradient(180deg, #E7E7E7 3.2%, #F3F3F3 100%);
border-radius: 5px 0px;
padding: 3px 10px;
  }
  &__wrap-bottom {
    width: 100%;
    max-width: 480px;
    @media all and (max-width: 1100px) {
      max-width: 740px;
    }
    
  }
  &__table-second__column {
    text-align: center;
    padding: 5px;
  }
  &__wrap-bottom-right {
    width: 100%;
    max-width: 740px;
    margin-left: 20px;
    @media all and (max-width: 1100px) {
      margin-left: 0px;
      margin-top: 14px;
    }
  }
  &__table-third__column {
    @include text(14px, 400, 14px, $blackColor);
    padding: 18px 10px 12px;
    border-bottom: 1px solid #00D73C;
    text-align: center;
  }
  &__table-third__column:first-child {
    font-size: 12px;
    text-align: left;
  }
  &__table-third {
    width: 100%;
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
border-radius: 10px;
padding: 20px;
  }
  &__table-third__column-top {
    @include text(14px, 400, 16px, #696969);
  }
  &__block-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0 0 57px;
  }
  &__block-bottom__text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 450px;
  width: 100%;
  }
  &__price-subtitle {
    @include text(30px, 400, 36px, $blackColor);
  }
  &__price {
    @include text(40px, 400, 48px, $blackColor);
  }
  &__button {
    cursor: pointer;
    max-width: 340px;
    width: 100%;
    background: $blackColor;
    padding: 10px 10px 10px 44px;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center
  }
  &__button__text {
    @include text(20px, 400, 23px, $whiteColor);
    font-family: 'Buran USSR';
  }
  
}