.politics {
  @media all and (max-width: 950px) {
    margin-top: 116px;
    @media all and (max-width: 500px) {
      background: $whiteColor;
    }
  }
  @media all and (max-width: 500px) {
    margin-top: 80px;
  }
  &__img {
    margin: 18px 0 44px;
  }
  &__wrap {
    background: $whiteColor;
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 80px;
    @media all and (max-width: 500px) {
      padding: 60px 16px;
    }
  }
  &__text {
    @include text(20px, 400, 24px, $blackColor);
    @media all and (max-width: 500px) {
      @include text(14px, 400, 14px, $blackColor);
    }
  }
  &__title {
    @include text(40px, 400, 46px, $blackColor);
    font-family: 'Buran USSR';
    margin-bottom: 40px;
    @media all and (max-width: 500px) {
      @include text(24px, 400, 27px, $blackColor);
      margin-bottom: 9px;
    }
  }
}