.catalog {
  @media all and (max-width: 1154px) {
    margin-top: 22px;
  }
  @media all and (max-width: 960px) {
    margin-top: 152px;
  }
  @media all and (max-width: 500px) {
    margin-top: 106px;
  }
  &__wrap__block {
    display: flex;
    margin: 20px 0 40px;
    max-width: 740px;
    width: 100%;
    justify-content: space-between;
    @media all and (max-width: 1154px) {
      display: none;
    }
  }
  &__wrap__block-mobile {
    display: none;
    @media all and (max-width: 1154px) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 345px;
      width: 100%;
      margin: 0 auto;
      margin-bottom: 116px;
    }
  }
  &__link-mobile {
    width: 100%;
  }
  &__button-mobile {
    border-radius: 15px;
    background: $whiteColor;
    @include text(20px, 400, 24px, $blackColor);
    padding: 18px 20px;
    max-width: 345px;
      width: 100%;
      text-align: left;
      margin-bottom: 10px;

  }
  &__button {
    border-radius: 10px 0px;
    width: 170px;
    height: 50px;
    background: $whiteColor;
    @include text(14px, 400, 22px, $blackColor);
  }
  &__button:not(:last-child) {
    margin-right: 14px;
  }
  &__button:hover,
  &__button:active,
  &__button:focus,
  &__button:visited {
    background: $blackColor;
    @include text(14px, 400, 22px, $whiteColor);
  }
  &__wrapper {
    display: flex;
  }
  &__wrapper {
    background: $whiteColor;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @media all and (max-width: 450px) {
      background: inherit;
    }
    @media all and (max-width: 1154px) {
      flex-direction: column;
    }
  }
  &__block-right {
    padding: 20px;
    @media all and (max-width: 450px) {
      padding: 0px;
    }
    
  }
  &__item-top {
    @include text(18px, 400, 20px, $blackColor);
    @media all and (max-width: 506px) {
      @include text(14px, 400, 17px, $blackColor);
    }
  }
  &__item-top:not(:last-child) {
    margin-right: 24px;
    position: relative;
  }
  &__item-top:not(:last-child)::after {
    position: absolute;
    content: ">";
    @include text(22px, 400, 20px, $blackColor);
    @media all and (max-width: 506px) {
      @include text(22px, 400, 16px, $blackColor);
    }
    top: 0;
    right: -18px
  }
  &__item-top:last-child {
    @media all and (max-width: 420px) {
      max-width: 160px;
      width: 100%;
    }
  }
  &__list-top {
    margin-bottom: 24px;
    display: none;
    @media all and (max-width: 960px) {
     display: flex;
     margin-top: 76px;
    }
    @media all and (max-width: 500px) {
      margin-top: 40px;
    }
  }
  
}

input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 24px;
	height: 24px;
	-webkit-appearance: none;
  
/* @apply w-6 h-6 appearance-none pointer-events-auto; */
}

