.data {
  &__wrapper {
    display: flex;
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
border-radius: 20px;
background: $whiteColor;
width: 100%;
padding: 30px 30px 84px;
justify-content: space-between;
margin-bottom: 94px;
@media all and (max-width: 1160px) {
  margin-bottom: 50px;
  flex-direction: column;
  padding: 22px 13px 84px;  
}
@media all and (max-width: 500px) {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  margin-bottom: 0px;
}
  }
  &__button {
    border-radius: 15px;
    background: $blackColor;
    padding: 16px 31px;
    color: $whiteColor;
    font-family: 'Buran USSR';
  }
  &__block__button {
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
    font-family: 'DIN Condensed';
    max-width: 111px;
    width: 100%;
    height: 37px;
    background: transparent;
    width: 110px;
  }
  &__block__button:not(:last-child) {
    margin-bottom: 20px;
    @media all and (max-width: 600px) {
      margin-bottom: 0px;
      margin-right: 6px;
    }
  }
  &__block__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (max-width: 600px) {
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  &__block__btn__text {
    margin-bottom: 30px;
    @media all and (max-width: 600px) {
      display: none;
    }
  }
  &__block__btn__text-top {
    display: none;
    @media all and (max-width: 600px) {
      display: block;
      margin-bottom: 10px;
    }
  }
  &__wrap-right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media all and (max-width: 600px) {
      flex-direction: column-reverse;
    }
  }
  &__content:last-child {
    max-width: 740px; 
    width: 100%;
    margin-left: 28px;
    @media all and (max-width: 1160px) {
      margin-left: 0;
      
    }
  }
  &__content:first-child {
    max-width: 452px; 
    width: 100%;
    
  }
  &__block-right {
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
    border-radius: 20px;
    @media all and (max-width: 500px) {
      box-shadow: none;
    }
  }
  &__subtitle-small {
    margin-bottom: 20px;
    font-family: 'DIN Condensed';
    @include text(20px, 400, 24px, $blackColor);
  }
  &__subtitle {
    font-family: 'DIN Condensed';
    @include text(30px, 400, 34px, $blackColor);
    margin-bottom: 40px;
  }
  &__reg {
    @include text(20px, 400, 24px, $blackColor);
    display: flex;
    justify-content: space-between;
    max-width: 280px;
    width: 100%;
    margin-bottom: 22px;
  }
  &__block-small,
  &__block-bottom {
    display: flex;
    justify-content: space-between;
  }
  &__block {
    width: 100%;
    padding: 15px;
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
border-radius: 10px;
  }
  &__wrap-bottom {
    width: 100%;
    padding: 10px;
    box-shadow: 0px 0px 4px rgba(77, 77, 77, 0.25);
border-radius: 10px;
  }
  &__block__text {
    @include text(14px, 400, 17px, $blackColor);
  }
  &__block-small:not(:last-child),
  &__block-bottom:not(:last-child) {
    margin-bottom: 10px;
  }
  &__block-bottom {
    @include text(18px, 400, 22px, $blackColor);
  }
  &__subtitle-mini {
    margin: 20px 0 8px;
    @include text(14px, 400, 17px, $blackColor);
    font-family: 'DIN Condensed';
  }
  &__color {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    margin-bottom: 8px;
  }
  &__img {
  background: #000D3E;
  width: 20px;
    height: 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    margin-right: 10px;
}
   &__block__color {
    display: flex;
    align-items: center;
   }
   &__wrap__color {
    padding: 0 20px;
   }
   &__color__text,
   &__color__text {
    color: #000D3E;
   }
   &__img__green {
    background: #1A9786;
   }
   &__color__text-green {
    color: #1A9786;
   }
   &__img__orange {
    background:#E8C858;
   }
   &__color__text-orange {
    color: #E8C858;
   }
   &__img__red {
    background:#ED5555;
   }
   &__color__text-red {
    color: #ED5555;
   }
   
   &__img__gray {
    background:#BFBFBF;
   }
   &__color__text-gray {
    color: #BFBFBF;
   }
   &__color:first-child {
    border-bottom: 1px solid #000D3E;
   }
   &__color:nth-child(2) {
    border-bottom: 1px solid #1A9786;
   }
   &__color:nth-child(3) {
    border-bottom: 1px solid #E8C858
   }
   &__color:nth-child(4) {
    border-bottom: 1px solid #ED5555;
   }
   &__color:nth-child(5) {
    border-bottom: 1px solid #BFBFBF;
   }
   &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   }
   &__button {
    max-width: 194px;
    width: 100%;
    margin-top: 16px;
    @media all and (max-width: 600px) {
      display: none;
    }
   }
  &__subtitle-small {
    @media all and (max-width: 1160px) {
      margin-top: 20px;
    }
  } 
  &__list {
    margin-left: 20px;
    @media all and (max-width: 460px) {
      margin-left: 6px;
    }
  }
}

  span {
  margin-left: 10px;
  font-family: 'DIN Condensed';
  font-size: 14px;
}

