.logo {
  @media all and (max-width: 1130px) {
    width: 100px;
  }
}
.burger__btn {
  display: none;
  @media all and (max-width: 950px) {
    display: block;
  }
}

.text {
  @media all and (max-width: 500px) {
    @include text(14px, 400, 17px, $grayColorText);
  }
}

details > summary {
  list-style-type: none;
}

details[open] img {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg)}