.stock {
  &__icon {
    margin: 74px 0 45px;
  }
  &__wrap {
    padding: 50px 20px;
    background: $whiteColor;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
border-radius: 15px;
  }
  &__img{
    margin-right: 20px;
  }
  &__wrapper {
    overflow-x: scroll;
    display: flex;
  }
  &__block {
    margin-top: 80px;
  }
  &__map {
    height: 400px;
    width: 100%;
  }
  &__list {
    background: $grayColorText;
    display: flex;
    border-radius: 0 0 15px 15px;  ;
    -webkit-border-radius: 0 0 15px 15px  ;
    -moz-border-radius: 0 0 15px 15px  ;
    -ms-border-radius: 0 0 15px 15px  ;
    -o-border-radius: 0 0 15px 15px  ;
    padding: 44px 40px 40px;
    display: flex;
    justify-content: space-between;
    @media all and (max-width: 1018px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @media all and (max-width: 550px) {
      justify-content: flex-start;
    }
}
  &__item,
  &__item > a {
    @include text(26px, 400, 39px, $whiteColor);
  }
  &__item:nth-child(2) {
    @media all and (max-width: 1100px) {
      margin: 0 10px;
      @media all and (max-width: 550px) {
        margin: 20px 0;
      }
    }
  }
  &__link {
    margin-left: 14px;
  }
  &__subtitle {
    font-family: 'Buran USSR';
    @include text(40px, 400, 46px, $blackColor);
    @media all and (max-width: 1100px) {
     margin-bottom: 30px;
    }
    @media all and (max-width: 740px) {
      @include text(24px, 400, 21px, $blackColor);
     }
     @media all and (max-width: 500px) {
      @include text(18px, 400, 21px, $blackColor);
     }
    
  }
  &__block-bottom {
    margin: 80px 0 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media all and (max-width: 1110px) {
      flex-direction: column;
      margin: 60px 0 150px;
    }
    @media all and (max-width: 810px) {
      flex-direction: column;
      margin: 43px 0 90px;
    }
  }
}